@import "tailwindcss";
.invert-text {
  color: white;
  mix-blend-mode: difference;
}
@font-face {
  font-family: nothing;
  src: url("/nothing-font-5x7.otf");
}

.text-clip {
  background: linear-gradient(90deg, #000, #8816ce);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; /*  Safari fix */
}
.nf{
  font-family: nothing;
}
.sh{
  scrollbar-width: none;
}
body{
  user-select: none;

}